global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  # Node / Host metricleri (node-exporter)
  - job_name: "nodes"
    file_sd_configs:
      - files:
          - /etc/prometheus/targets/*.json
        refresh_interval: 30s

    relabel_configs:
      - source_labels: [server]
        target_label: instance
