[
  {
    "targets": [
      "host.docker.internal:9100",
      "host.docker.internal:8080"
    ],
    "labels": {
      "product": "example.app",
      "service": "api",
      "env": "prod"
    }
  },
  {
    "targets": [
        "10.0.10.12:9100",
        "10.0.10.12:8080"
    ],
    "labels": {
      "product": "example.ai",
      "service": "inference",
      "env": "prod"
    }
  }
]
