[
  {
    "targets": [
      "host.docker.internal:9100"
    ],
    "labels": {
      "job": "node-exporter",
      "product": "observability",
      "service": "control-plane",
      "env": "prod",
      "instance_name": "obs-plane-prod-01"
    }
  },
  {
    "targets": [
      "host.docker.internal:8080"
    ],
    "labels": {
      "job": "cadvisor",
      "product": "observability",
      "service": "control-plane",
      "env": "prod",
      "instance_name": "obs-plane-prod-01"
    }
  }
]
